# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
*.pcd
__pycache__/

Log/*.txt

PersFormer_3DLane

road_python/py_src/.cache
road_python/py_src/data_splits

data_splits

.cache

*.pcd
!examples/data/lane.pcd
!examples/data/lane_selected.pcd

pred_results
PCD-*

outputs